---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/reports/?api_key=4K3YWLNk8MuWsSF1YhcxKyp8l88lAc36KVya2IsX&format=json&ndbno=45085468&type=b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3590'
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"report\": {\n        \"sr\": \"July, 2018\",\n        \"type\":
        \"Basic\",\n        \"food\": {\n            \"ndbno\": \"45085468\",\n            \"name\":
        \"TRADER JOE'S, ACACIA HONEY, UPC: 00555500\",\n            \"ds\": \"Label
        Insight\",\n            \"manu\": \"TRADER JOE'S\",\n            \"ru\": \"g\",\n
        \           \"ing\": {\n                \"desc\": \"HONEY, BLACK SUMMER TRUFFLE
        PIECES, NATURAL MUSHROOM FLAVOR.\",\n                \"upd\": \"06/25/2017\"\n
        \           },\n            \"nutrients\": [\n                {\n                    \"nutrient_id\":
        \"208\",\n                    \"name\": \"Energy\",\n                    \"derivation\":
        \"LCCS\",\n                    \"group\": \"Proximates\",\n                    \"unit\":
        \"kcal\",\n                    \"value\": \"333\",\n                    \"measures\":
        [\n                        {\n                            \"label\": \"Tbsp\",\n
        \                           \"eqv\": 21.0,\n                            \"eunit\":
        \"g\",\n                            \"qty\": 1.0,\n                            \"value\":
        \"70\"\n                        }\n                    ]\n                },\n
        \               {\n                    \"nutrient_id\": \"203\",\n                    \"name\":
        \"Protein\",\n                    \"derivation\": \"LCCS\",\n                    \"group\":
        \"Proximates\",\n                    \"unit\": \"g\",\n                    \"value\":
        \"0.00\",\n                    \"measures\": [\n             [...]
