---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search/?api_key=&format=json&max=25&offset=0&q=Trader%20Joe%27s%20Acacia%20Honey&sort=n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "code": "API_KEY_MISSING",
            "message": "No api_key was supplied. Get one at https://api.nal.usda.gov:443"
          }
        }
  recorded_at: Sun, 14 Oct 2018 05:43:33 GMT
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search/?api_key=4K3YWLNk8MuWsSF1YhcxKyp8l88lAc36KVya2IsX&format=json&max=25&offset=0&q=Trader%20Joe%27s%20Acacia%20Honey&sort=n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "Trader Joe's Acacia Honey",
                "sr": "1",
                "ds": "any",
                "start": 0,
                "end": 3,
                "total": 3,
                "group": "",
                "sort": "n",
                "item": [
                    {
                        "offset": 0,
                        "group": "Branded Food Products Database",
                        "name": "TRADER JOE'S, ACACIA HONEY, UPC: 00555500",
                        "ndbno": "45085468",
                        "ds": "LI",
                        "manu": "TRADER JOE'S"
                    },
                    {
                        "offset": 1,
                        "group": "Branded Food Products Database",
                        "name": "TRADER JOE'S, DARK CHOCOLATE HONEY MINTS, UPC: 00976886",
                        "ndbno": "45093999",
                        "ds": "LI",
                        "manu": "none"
                    },
                    {
                        "offset": 2,
                        "group": "Branded Food Products Database",
                        "name": "TRADER JOE'S, HONEY ROASTED COCOA & CHILI PEANUTS & ALMONDS WITH ROASTED SALTED PECANS, SWEET, HOT & SAVORY, UPC: 00552707",
                        "ndbno": "45035210",
                        "ds": "LI",
                        "manu": "TRADER JOE'S"
                    }
                ]
            }
        }
  recorded_at: Sun, 14 Oct 2018 06:02:33 GMT
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/reports/?api_key=4K3YWLNk8MuWsSF1YhcxKyp8l88lAc36KVya2IsX&format=json&ndbno=45085468&type=b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3597'
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"report\": {\n        \"sr\": \"July, 2018\",\n        \"type\":
        \"Basic\",\n        \"food\": {\n            \"ndbno\": \"45085468\",\n            \"name\":
        \"TRADER JOE'S, ACACIA HONEY, UPC: 00555500\",\n            \"ds\": \"Label
        Insight\",\n            \"manu\": \"TRADER JOE'S\",\n            \"ru\": \"g\",\n
        \           \"ing\": {\n                \"desc\": \"HONEY, BLACK SUMMER TRUFFLE
        PIECES, NATURAL MUSHROOM FLAVOR.\",\n                \"upd\": \"06/25/2017\"\n
        \           },\n            \"nutrients\": [\n                {\n                    \"nutrient_id\":
        \"208\",\n                    \"name\": \"Energy\",\n                    \"derivation\":
        \"LCCS\",\n                    \"group\": \"Proximates\",\n                    \"unit\":
        \"kcal\",\n                    \"value\": \"333\",\n                    \"measures\":
        [\n                        {\n                            \"label\": \"Tbsp\",\n
        \                           \"eqv\": 21.0,\n                            \"eunit\":
        \"g\",\n                            \"qty\": 1.0,\n                            \"value\":
        \"70\"\n                        }\n                    ]\n                },\n
        \               {\n                    \"nutrient_id\": \"203\",\n                    \"name\":
        \"Protein\",\n                    \"derivation\": \"LCCS\",\n                    \"group\":
        \"Proximates\",\n                    \"unit\": \"g\",\n                    \"value\":
        \"0.00\",\n                    \"measures\": [\n             [...]
